body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}


.box_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 2em;
    height: 500px
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    height: 100%;
    width: 100%;
    color: rgb(249, 249, 249);
    padding: 1.4em;
    border-radius: 10px;
}

.first{
    background-color: #434343;
}
.second{
    background-color: #818181;
}
.third{
    background-color: #434343;
}
.fourth{
    background-color: #818181;
}

.side{
    background-color: #000000;
    
    grid-row-start: 1;
    grid-row-end: 3;
}

.box:hover{
    transform: translateY(-4px);
    box-shadow: 0 4px 2px #63d87c;
    transition: all ease-in-out 200ms;
    color: #63d87c;
    cursor: pointer;
}

.list_cont ol{
    display: flex;
    flex-direction: row;
}


footer{
    margin-top: 5em;
    background-color: #434343;
    padding: 1.4em;
    color: white;
}

.inner_report{
    background-color: #e3e3e3;
    box-shadow: 0 2px 3px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

}

.report-title{
    color: black;
    padding: 1.4em;
}

.report-title:hover{
    transform: translateY(-4px);
    cursor: pointer;
    transition: ease-in-out 300ms;

}

.report{
    background-color: #c8c8c8;
    
    border-radius: 20px;
    margin-top: 10em;
    display: flex;
    padding: 2em;
    justify-content: space-between;



}

.report .container{
    max-width: max-content;
}

.sales_btn:hover{
    background-color: white;
    color: black;
    box-shadow: 0 4px 2px #63d87c;
    transform: translateY(-4px);
    transition: all ease-in-out 200ms;

}

.inv_btn:hover{
    background-color: white;
    color: black;
    box-shadow: 0 4px 2px #fc5656;
    transform: translateY(-4px);
    transition: all ease-in-out 200ms;

}