body{
    margin: 0;
    box-sizing: border-box;
    background-image: url(../images/snow-1890653.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main_container{
    background-color: hsl(0, 0%, 27%, .8);
}

.item-card{
    border-radius: 20px;
}

.container_item{
    background-image: url(../images/cat_default.jpg);
    background-size: cover;
    height: 200px;
    border-radius: 20px;
}

.search-icon{
    font-size: 20px;
}

.item-card:hover{

    transform: translateY(-3px);
    box-shadow: 0 3px 2px rgb(0, 0, 0);
    transition: all ease-in-out 300ms;
}
