body{
    background-color: rgb(71, 69, 69);
    box-sizing: border-box;
    margin: 0;

}


.container_pic_info{
    display: grid;

    grid-template-columns: 1fr 2fr;
    gap: 1.5em;

}

.user_info{
    background-color: #eeeeee;

}


.pic_container{
    background-color: #eeeeee;

    display: flex;
    flex-direction: column;
    
    gap: 2em;
    align-items: center;
}

.container_pic_info div{
    padding: 1.3em;
    border-radius: 10px;

}

.container_pic_info .profile_pic{
    background-image: url('../images/faker.webp');
    height: 200px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 1px 6px 1px black;
    
    border-radius: 50%;
}